DB_ROOT_PASSWORD=super_root_password_change_me
DB_NAME=app_ciber
DB_USER=app_ciber
DB_PASSWORD=super_db_password_change_me
JWT_SECRET=replace_with_long_random_secret
NEXT_PUBLIC_API_URL=http://TU_DOMINIO_O_IP:4000/api
