@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ink: #111418;
  --steel: #1d2935;
  --sand: #f3eee7;
  --clay: #cead8f;
  --moss: #335944;
  --alert: #bd452a;
}

body {
  background:
    radial-gradient(circle at 10% 0%, rgba(206, 173, 143, 0.28) 0, transparent 45%),
    radial-gradient(circle at 90% 100%, rgba(51, 89, 68, 0.23) 0, transparent 35%),
    #f8f5f0;
  color: var(--ink);
}
